*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #f9f5ed; */


}
body{
    background-color: rgb(25, 25, 50);
    color: white;
}
.nav{
    height: 5vh;
    color: white;
    padding: 5px;
    margin-bottom: 2px;
    display: flex;
    margin-left: 80%;
}
.nav a{
    padding: 10px;
    color: white;
    text-decoration: none;
    
}
.main{
    
    display: flex;
    justify-content: center;

}
.right{
    margin-top: 8%;
}
.firstline span img{
    height: 20px;
    
}
.secondline{
    font-size: 25px;
}
.thirdline{
    color: yellow;
}
.left img{
    height: 50vh;
}

.project{
    text-align: center;
    margin-top: 3%;
}
h4{
    
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: blue;
}
.container{
    justify-content: center;
     display: flex;
     padding: 10px;    
}
.card img{
    
    height: 200px;
    width: 200px;
    padding: 10px;
    /* display: flex; */
}
.contact{
    text-align: center;
    margin-top: 3%;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: blue;
    
}
.contact_icon{
    margin-top: 3px;
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    font-size: large;
}


.nav {
    overflow: hidden;
    /* background-color: #333; */
  }
  .nav a.active {
    background-color: #4fa9dd;
    /* color: white; */
  }
  
  .nav .icon {
    display: none;
  }
  /* responsivness */
  @media screen and (max-width: 600px) {
    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .nav.responsive {position: relative;}
    .nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .main{
        display: grid;
    }
    .right{
        font-size: 20px;
        text-align: center;
    }
    .left{
        justify-content: center;
        
    }
    .left img{
        height: 30vh;
    }
    .project{
        /* display: grid; */
    }
    .container{
        display: grid;
    }
    
  }
  


